site_name: BaderKit Documentation
site_url: https://sweav02.github.io/baderkit/
repo_url: https://github.com/SWeav02/baderkit

theme:
  name: material
  language: en
  logo: images/logo_icon.svg
  favicon: images/logo.svg
  icon:
    repo: fontawesome/brands/github
  
  # Coloring for light/dark themes
  palette:
    - scheme: default
      toggle:
        icon: material/toggle-switch
        name: Switch to dark mode
      primary: deep purple
      accent: deep purple
    - scheme: slate
      toggle:
        icon: material/toggle-switch-off-outline
        name: Switch to light mode
      primary: deep purple
      accent: deep purple

  features:
      - content.code.annotate
      - content.code.copy

validation:
  links:
    absolute_links: relative_to_docs
    anchors: warn
    unrecognized_links: warn

# For emojis, annotations, etc. Stolen straight from [simmate](https://github.com/jacksund/simmate)
markdown_extensions:
  - admonition
  - attr_list
  - def_list
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.superfences:
        custom_fences:
              - name: mermaid
                class: mermaid
                format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.tasklist:
      custom_checkbox: true
  - attr_list
  - md_in_html
  - toc:
      permalink: true
  - pymdownx.arithmatex:
      generic: true
  
nav:
  - Introduction: index.md
  - Bader:
      - Quick Start: bader/usage.md
      - Background: bader/background.md
      - Methods: bader/methods.md
  - BadELF:
      - Quick Start: badelf/usage.md
      - Background: badelf/background.md
      - Methods: badelf/methods.md
  - ElfLabeler:
      - Quick Start: elf_labeler/usage.md
      - Background: elf_labeler/background.md
  - API Reference: 
    - Core:
      - Bader: api_reference/core/bader.md
      - Grid: api_reference/core/grid.md
      - ElfLabeler: api_reference/core/labeler.md
      - SpinElfLabeler: api_reference/core/labeler_spin.md
      - Badelf: api_reference/core/badelf.md
      - SpinBadelf: api_reference/core/badelf_spin.md
    - Plotting:
      - Structure: api_reference/plotting/structure.md
      - Grid: api_reference/plotting/grid.md
      - Bader: api_reference/plotting/bader.md
  - Examples: examples.md

plugins:
  - search
  - mkdocstrings:
      default_handler: python
      watch:
      - src/baderkit
      handlers:
        python:
          options:
#            show_source: false
            docstring_style: numpy
            docstring_section_style: table
            #parameter_headings: false

extra_css:
  - css/mkdocstrings.css
  
extra_javascript:
  - javascripts/mathjax.js
  - https://unpkg.com/mathjax@3/es5/tex-mml-chtml.js