# This workflow will check for Black formating, install Python dependencies using Anaconda, and then run tests with a single version of Python.
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions
#
# We also use a third-party action(s) for setting up our conda environment. See:
#   conda: https://github.com/marketplace/actions/setup-miniconda
#   mamba: https://github.com/mamba-org/provision-with-micromamba

name: Test

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  schedule:
    # Runs the schedule every day at 5:30 and at 17:30 UTC
    - cron: "30 5,17 * * *"

jobs:
  # black and isort were both failing on windows so I've moved them to only test on ubuntu
  lint-check:
    name: Code Quality Check
    runs-on: "ubuntu-latest"
    steps:
      - name: Initial setup
        uses: actions/checkout@v3
      - name: Black
        uses: psf/black@stable
      - name: iSort
        uses: isort/isort-action@master
  python-versions:
    # Establishes the combination of all OS and python versions
    # for us to test. The "steps" below will be ran for each
    # of these combinations.
    name: Python ${{ matrix.python-version }} (${{ matrix.os }})
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: ["ubuntu-latest", "macos-latest", "windows-latest"]
        python-version: ["3.10", "3.11", "3.12"]

    steps:
      - name: Initial setup
        uses: actions/checkout@v3


      - name: Create conda env and install deps
        uses: conda-incubator/setup-miniconda@v3
        with:
          auto-update-conda: true
          environment-file: environment.yaml
          python-version: ${{ matrix.python-version }}
          auto-activate-base: false
          channels: conda-forge
          activate-environment: baderkit_dev
          channel-priority: strict
      # The lines "shell: bash -l {0}" ensure we use the created env below
      
      - name: Install BaderKit
        shell: bash -l {0}
        run: |
          pip install -e .

      # Run checks to see that baderkit & deps are installed correctly
      - name: Check conda info
        shell: bash -l {0}
        run: |
          conda info
          conda list
      # DISABLED BC OF https://github.com/jacksund/simmate/issues/669 
      # - name: Check dependencies
      #   shell: bash -l {0}
      #   run: |
      #     pip check
      
      - name: Run default tests
        shell: bash -l {0}
        run: |
          pytest -vv --durations=15
    # "-vv" makes the pytest output verbose so errors are more useful
    # and "duration=0" has pytest print how long every test took. We ask for
    # the 15 slowest ones.
